.active-class {
    border-bottom:2px solid white;
    padding-bottom:2px;

}
.app-loader {
    text-align: center;
    margin: 20% 20% 20% 20%;
}

.navbar{
    background-color: #ccbfbfd2;
}
.navbar-brand h4{
    text-align: center;
    color: #ffffffc7;
}
.navbar-toggler {
    background-color: #f8f9fa !important;
}
.center{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-item{
    margin-right: 10px;
}

.display-center{
    margin-top: 10%;
    font-weight: bold;
    font-size: 20px;
}

.my-input {
    padding: 10px;
    border: 1px solid #ccc;
}

.home{
    position: relative;
    max-width: 100% !important;
    width: 100% !important;
}
.black{
    background-color: black;
    opacity: 0.5;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1%;
}
.home img{
    max-height: 600px !important;
    width: 100% !important;
    padding: 1%;
}

.home .row{
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 10;
    margin: 20% 20% 20% 20%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .home img{
        width: 100%;
        height: 400px;
    }
    .home .row{
        margin-top: 20%;
        margin-right: 10%;
    }
}